<div class="row">
  <div class="col-6">
    <p>
      <a [routerLink]="['/alunos']">Alunos</a>
      <a [routerLink]="['novo']" class="btn btn-sm btn-success">+</a>
    </p>


    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li *ngFor="let aluno of alunos" class="list-group-item">
          {{ aluno.nome }} <a [routerLink]="[aluno.id]" class="btn btn-sm btn-info">Mais</a>
        </li>
        <!-- <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li> -->
      </ul>
    </div>

    <!-- <div>
      <a class="d-block" [routerLink]="['1']">Navegar para 1</a>
      <a class="d-block" [routerLink]="['2']">Navegar para 2</a>
      <a class="d-block" [routerLink]="['3']">Navegar para 3</a>
    </div> -->
  </div>

  <div class="col-6">
    <router-outlet></router-outlet>
  </div>
</div>
