<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li *ngFor="let aluno of alunos" class="nav-item" role="presentation">
        <a
          [routerLink]="[aluno.id]"
          class="nav-link"
          [id]="'pills-aluno-tab' + aluno.id"
          data-toggle="pill"
          role="tab"
          [attr.aria-controls]="'aluno-tab' + aluno.id"
          aria-selected="true"
          >
          <!-- [attr.aria-selected]="aluno.id === idAlunoSelecionado" -->
          {{ aluno.nome }}
        </a>
      </li>

      <!-- Fake: Aluno não existente -->
      <li class="nav-item" role="presentation">
        <a
          [routerLink]="['10']"
          class="nav-link"
          [id]="'pills-aluno-tab' + '10'"
          data-toggle="pill"
          role="tab"
          [attr.aria-controls]="'aluno-tab' + '10'"
          aria-selected="true"
        >
          Fake
        </a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div
        class="tab-pane fade show active"
        id="aluno-tab"
        role="tabpanel"
        aria-labelledby="aluno-tab"
      >
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
