.card-body-centralizado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert-aluno-nao-matriculado, .alert-curso-nao-encontrado {
  max-width: 500px;
}

.alert-curso-nao-encontrado {
  //
}
